<link rel="stylesheet" href="/static/style.css">

<div class="box">
    <h2>Admin Approval</h2>

    {% for i in items %}
    <p>
        <b>{{ i.name }}</b><br>
        {{ i.description }}<br>
        Status: <b>{{ i.status }}</b>
    </p>

    <a href="/approve/{{ i.id }}" class="green">🤖 Approve</a>
    <a href="/chat/{{ i.id }}"
        style="text-decoration:none; background:#0575e6; color:white; padding:5px 10px; border-radius:5px;">💬 Chat</a>


    <hr>
    {% endfor %}

    <a href="/home">⬅ Back</a>
</div>